/*Адаптивность*/
@media (max-width: 1600px){

    .m-content{
        margin-left: 5%;
        max-width: 85%; 
    }

    .main-headers{
        max-width: 100%;
        margin: 1% 0 0 1%;
        margin-left: 5%;
    }

    .logpanel{
        margin-left: 20%;
        font-size: 1.5rem;
    }
}


@media (max-width: 1366px){
    .authorization-form{   
        width: 50%;
        height: 30%;
        margin-left: 10%;
    }

    .m-content{
        margin-left: 5%;
        max-width: 90%; 
    }

    .logpanel{
        margin-left: 20%;
        font-size: 1rem;
    }

    .logpanel .btn_2{
        height: 1.5rem;
        font-size: 1rem;
    }

    .logpanel .btn_1{
        height: 1.5rem;
        font-size: 1rem;
    }
 
    /*Главное меню*/

    .main-headers-place{
        width: 25%;
        height: 10%;
        font-size: 0.9rem; 
    }

    .main-headers-txtplace{
        font-size: 0.9rem;
    }

    header  nav{
        margin: 3% 2% 0 0%;
    }

    header .navigation-line{
        width: 58%;
    }

    header nav a{ 
        height: 2rem;
        font-size: 1.2rem;
    }

    header .authorization-form{
        margin-left: 35%;
    }

    main .post-place-1{
        margin: 1% 5px;
        width: 30%;
    }

    .post-place-1 .post-bottom-1{
        font-size: 1.3rem;
    }

    main .shop-comp img{
        width: 15rem;
        height: 15rem;
    }

    main .post-place-2{
        margin: 1% 5px;
        width: 48%;
    }

    main .tags-place-m{
        font-size: 0.9rem;
        margin-top: 1rem;
    }

    main .for-top-auth{
        width: 15rem;
        height: 4rem;
        margin-top: 2%;
        padding-top: 2%;
        padding-left: 2%;
        font-size: 0.9rem;
    }

    main .for-top-auth img{
        width: 2rem;
        height: 2rem;
    }

    main .footer-prev{
        margin-left: 9%;
    }

    main .social-links{
        margin-top: -3rem;
        margin-left: 1rem;
    }

    main .about-proj{
        margin-left: 1rem;
    }


    main .zen-c-m img{
        width: 10rem;
        height: 10rem;
    }
}

@media (max-width: 960px){

    /* .authorization-form{   
        width: 50%;
        height: 30%;
        padding: 10px;
        margin-left: 10%;
    } */

    .m-content{
        margin-left: 3%;
        max-width: 95%; 
    }

    .logpanel{
        margin-left: 2%;
        font-size: 0.8rem;
    }
 
    /*Главное меню*/

    .main-headers{
        margin-left: 5%;
    }

    .main-headers-place{
        width: 30%;
        height: 7%;
        font-size: 0.9rem; 
    }

    .main-headers-txtplace{
        font-size: 0.5rem;
    }

    header  nav{
        margin: 3% 2% 0 0%;
    }

    header .navigation-line{
        width: 58%;
    }

    header nav a{ 
        height: 2rem;
        font-size: 1.5rem;
    }

    header .authorization-form{
        margin-left: 35%;
    }

    main .post-place-1{
        margin: 1% 5px;
        width: 30%;
    }

    .post-place-1 .post-bottom-1{
        font-size: 1.3rem;
    }

    main .post-place-2{
        margin: 1% 5px;
        width: 48%;
    }

    main .shop-comp img{
        width: 11rem;
        height: 11rem;
    }

    main .tags-place-m{
        font-size: 0.5rem;
        margin-top: 1rem;
    }

    main .tags-place-m{
        font-size: 0.9rem;
        margin-top: 1rem;
    }

    main .footer-prev{
        margin-left: 2%;
    }
    
}

@media (max-width: 768px){

    .m-content{
        margin-left: 1%;
        max-width: 99%; 
    }

    /*Главное меню*/
    .main-headers{
        margin-left: 2%;
    }

    .main-headers-place{
        height: 10%;
        width: 45%;
    }

    .adpt-title {
        display: none;
    }

    header  nav{
        margin: 3% 2% 0 0%;
    }

    header .navigation-line{
        width: 58%;
    }

    header nav a{ 
        height: 2rem;
        font-size: 1.5rem;
    }

    header .authorization-form{
        margin-left: 35%;
    }

    main .post-place-1{
        margin: 1% 5px;
        width: 90%;
    }

    .post-place-1 .post-bottom-1{
        font-size: 1.3rem;
    }

    main .post-place-2{
        margin: 1% 5px;
        width: 90%;
    }

    main .goods-place{
        width: 40%;
        margin-left: 0.5rem;  
        font-size: 1rem;   
    }

    main .shop-comp img{
        width: 11rem;
        height: 11rem;
    }

    main .tags-place-m{
        font-size: 0.5rem;
        margin-top: 1rem;
    }

    main .tags-place-m{
        font-size: 0.5rem;
        margin-top: 1rem;
    }

    main .footer-prev{
        margin-left: 2%;
        flex-direction: column;
    }

    main .social-links{
        margin-top: 1rem;
        margin-left: 1rem;
    }

    main .about-proj{
        height: 90%;
        margin-left: 0.3rem;
        font-size: 0.6rem;
    }
    
}