*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;/*параметры рамки*/
    max-width: 100%;
    background: #fefcea;
    font-family: Arial;
    /* background: linear-gradient(to top left, #1e90ff, #fefcea); */
}

input{
    border-radius: 10px;
    border: none;
}

textarea{
    display: block;/*Текстовое поле для добавления description*/
	width: 95%;
}

.container{
    /*max-width: 1 814px;*/
    margin: 0 auto;
}

.hidden{
    display: none;
}

.btn_1 {
    background:#FFFFFF;
    color: #1e90ff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn_2 {
    background:#1e90ff;
    color: #FFFFFF;
    cursor: pointer;
    border: 1px solid rgb(237, 240, 243);
    border-radius: 5px;
}

.btn_3 {
    background:red;
    color: #FFFFFF;
    cursor: pointer;
    border: 1px solid rgb(237, 240, 243);
    border-radius: 5px;
}

.btn_4 {
    background:green;
    color: #FFFFFF;
    cursor: pointer;
    border: 1px solid rgb(237, 240, 243);
    border-radius: 5px;
}

.addit-btn{
    height: 2rem;
    font-weight: bold;
}

.btn_1:hover{
    background:#1e90ff;
    color: #FFFFFF;
    font-weight: bold;
}

.btn_2:hover{
    background:#FFFFFF;
    color: #1e90ff;
    font-weight: bold;
}

.btn_3:hover{
    background:#FFFFFF;
    color: red;
    font-weight: bold;
}

.btn_4:hover{
    background:#FFFFFF;
    color: green;
    font-weight: bold;
}

.m-content{
    margin-left: 10%;
    max-width: 75%; 
}

.add-main-form{
    margin-top: 1rem;
    padding: 2%;
    border: 2px solid #1e90ff;
}

.error-pl{
    margin-top: 1rem;
    margin-left: 15%;
    max-width: 70%;
    text-align: left;
    font-weight: bold;
    padding: 1rem;
    border: 2px solid #1e90ff;
}

.error-log{
    text-align: center;
    font-weight: bold;
    color: red;
}

.adm-news-pl{
    padding: 1rem;
    border: 2px solid #1e90ff;
    margin-top: 1rem;
    margin-left: 12%;
}

.for-info-txt{
    text-align: center;
}

.for-blocks-m-top{
    margin-top: 1rem;
}

.error-pl .btn_2{
    margin-left: 45%;
}

.page-output{
    margin-left: 30%;
    max-width: 50%;
}

.form-pl{
    border: 2px solid #1e90ff;
    padding: 1%;
    font-size: 1rem;
    margin-top: 1rem;
}

.logpanel{
    margin-left: 30%;
    font-size: 1.7rem;
}

.logpanel .btn_1{
    height: 2rem;
    font-size: 1rem;
}

.logpanel .btn_2{
    height: 2rem;
    font-size: 1rem;
}

.logpanel a{
    color: red;
    text-decoration: none;
}

.addupd-post{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.addupd-post .btn_2{
    margin-left: 5%;
    width: 20rem;
    height: 2rem;
    margin-bottom: 0.5rem;
}

.addupd-post .btn_1{
    margin-left: 5%;
    width: 20rem;
    height: 2rem;
    margin-bottom: 0.5rem;
}

.for-info-logo{
    margin-left: 40%;
}

.for-info-logo img{
    width: 30%;
    height: 30%;
}

.for-info-font{
    font-size: 2rem;
}

/*Мессенжер*/

.messeger-pl{
    border: 2px solid #1e90ff;
    margin-top: 1rem;
    margin-left: 25%;
    max-width: 50%; 
}

.unr-mess-a{
    text-decoration: none;
    color: #1e90ff;
}

.for-unr-mess{
    display: flex;
    width: 30rem;
    height: 4rem;
    font-size: 1.2rem;
    border: 2px solid #ffff;
    background: #ffff;
    color: #1e90ff;
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border-radius: 15px;
}

.for-unr-mess img{
    width: 3rem;
    height: 3rem;
    padding-left: 1%;
    padding-top: 1%;
    border-radius: 10px;
}

.unr-mess-txt{
    padding-top: 4%;
}

.mess-dialogs{
    margin-top: 1rem;
}

.for-dialogs-mess{
    display: flex;
    width: 30rem;
    height: 4rem;
    font-size: 1.2rem;
    border: 2px solid #1E90FF;
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: #ffff;
    background: #1E90FF;
    border-radius: 15px;
}

.for-dialogs-mess img{
    width: 3rem;
    height: 3rem;
    padding-left: 1%;
    padding-top: 1%;
    border-radius: 10px;
}

.dialog-mess-a{
    text-decoration: none;
    color: #1e90ff;
}

.mess-pl-style-to{
    padding: 1rem;
    margin-top: 1rem;
    background: #ffff;
    color: #1e90ff;
    border-radius: 10px;
}

.mess-pl-style-to a{
    color: #ffff;
}

.mess-pl-style-to .mess-header{
    color: #ffff;
    background: #1e90ff;
    border-radius: 5px;
    padding: 2px;
}

.mess-pl-style-fr .mess-header{
    color: #1e90ff;
    background: #ffff;
    border-radius: 5px;
    padding: 2px;
}

.mess-pl-style-fr{
    padding: 1rem;
    margin-top: 1rem;
    background: #1e90ff;
    color: #ffff;
    margin-left: 2rem;
    border-radius: 10px;
}

.mess-text img{
    width: 60%;
    height: 40%;
} 

.mess-text{
    width: auto;
} 

.del-mess{
    margin-left: 98%;
}

/*--Конец стилей мессенжера--*/

/*Поиск*/

.search-form{
    margin-top: 1rem;
    margin-left: 20%;
}

.search-text{
    height: 1.5rem;
    width: 35%;
}

.search-select{
    height: 1.5rem;
}

.search-form .btn_2{
    height: 1.5rem;
}

/*Конец стилей поиска*/

.fopm-margin{
    margin-left: 30%;
}

.page-output .btn_1{
    width: 2rem;
    height: 2rem;
    margin-top: 1%;
}

.page-output .btn_2{
    width: 2.1rem;
    height: 2.1rem;
    font-weight: bold;
    margin-top: 1%;
}

.main-headers{
    max-width: 100%;
    margin: 1% 0 0 1%;
    margin-left: 11%;
}

.headers-places{
    display: flex;
}

.main-headers-place{
    background: linear-gradient(to top, #1e90ff, #FFFFFF);
    border: 1px solid rgba(30, 144, 255, 1);
    width: 20%;
    height: 10%;
    padding-left: 1%;
    font-family: Arial;
    font-style: normal;
    line-height: 39px;
    font-size: 1.2rem;
    color: white;
    border-radius: 10px 10px 0px 0px;
    text-shadow: 1px 1px 2px black, 0 0 3px black;
    z-index: 9;
}

.main-headers-place:hover{
    background: linear-gradient(to top, #FFFFFF, #1e90ff);
}

.main-headers-place a{
    color: white;
    text-decoration: none;
}

.main-headers-subplace{
    background: #FFFFFF;
    border: 1px solid rgba(30, 144, 255, 1);
    text-shadow: 1px 1px 2px gray, 0 0 3px gray;
    width: 20%;
    height: 10%;
    padding-left: 1%;
    font-family: Arial;
    margin-left: 1px;
    font-style: normal;
    line-height: 39px;
    font-size: 1.2rem;
    color: #1e90ff;
    border-radius: 10px 10px 0px 0px;
}

.main-headers-subplace a{
    color: #1e90ff;
    text-decoration: none;
}

.main-headers-txtplace{
    padding-left: 1%;
    font-family: Arial;
    margin-left: 10px;
    font-style: normal;
    line-height: 39px;
    font-size: 1.2rem;
    color: #1e90ff;
}

.main-headers-line{
    width: 90%;
    height: 0;
    background: #1e90ff;
    border: 3px solid rgba(30, 144, 255, 1);
    margin-top: -0.3%; 
    /* margin-left: 0.5%; */
    flex-shrink: 0;
    flex-grow: 0;
    transform: rotate(180deg);
}

/*Главное меню*/
/* .subheader{
    height: 10rem;
} */

header{
    display: flex;
    /* position: fixed; */
    background-image: url(logo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 118rem; */
    height: 10rem;
    z-index: 10;
}

header a img{
    margin: 3% 5%;
    width: 132px;
    height: 132px;
}

header .submenu {
    position: absolute;
    display: none;
}

header .submenu button{
    width: 10rem;
    background: #FFFFFF;
}


header .navigation-line{
    width: 73%;
    height: 0;
    border: 3px solid rgba(30, 144, 255, 1);
    
    /* margin-left: auto; */
    flex-shrink: 0;
    flex-grow: 0;
    transform: rotate(180deg);
}

footer{
    text-align: center;
}
/*
header .authorization-form{
    display: none;
    position: fixed;
    font-family: Arial;
    top: 20%;
    left: 1%;
    /* background: #1e90ff; */
   /* width: 17rem;
    height: 12rem;
    padding: 10px;
    margin-left: 50%;
    margin-top: -40px;
    background: #1e90ff;
    border-radius: 10px 10px 10px 10px;
    z-index: 15;
}

header .authorization-form form{
    display: flex;
    flex-direction: column;
}

header .authorization-form .close-btn{
    color:#fefcea;
    cursor: pointer;
    margin-left: 95%;
    font-size: 1.5rem;
}

header .authorization-form .close-btn:hover{
    color: red;  
}

header .authorization-form .send{
    display: flex;
    flex-direction: column;
    background: #1e90ff;
    margin-top: 0.2rem;
    height: 1.8rem; 
    border-radius: 5px;
}

header .authorization-form .btn_1{
    margin-top: 1rem;
}

header .authorization-form input{
   text-align: center; 
   margin-bottom: 5px;
}

header .authorization-form .reg-group {
    margin-top: 4rem;
} 

header .authorization-form .reg-group a {
    color: #ffff;
    cursor: pointer;
} */

/*Форма авторизации по ссылке*/

.authorization-form{
    
    font-family: Arial;
    /* background: #1e90ff; */
    width: 30%;
    height: 20%;
    padding: 10px;
    margin-left: 40%;
    margin-top: 1rem;
    background: #1e90ff;
    border-radius: 10px 10px 10px 10px;
    z-index: 15;
}

.authorization-form form{
    display: flex;
    flex-direction: column;
}

.authorization-form .close-btn{
    color:#fefcea;
    cursor: pointer;
    margin-left: 95%;
    font-size: 1.5rem;
}

.authorization-form .close-btn:hover{
    color: red;  
}

.authorization-form .send{
    display: flex;
    flex-direction: column;
    background: #1e90ff;
    margin-top: 0.2rem;
    height: 1.8rem; 
    border-radius: 5px;
}

.authorization-form .btn_1{
    margin-top: 1rem;
    margin-left: 45%;
    width: 3rem;
}

.authorization-form .send input{
   text-align: center; 
   margin-bottom: 5px;
   height: 3rem;
}

.authorization-form .reg-group {
    text-align: center;
    margin-top: 4rem;
} 

.authorization-form .reg-group a {
    color: #ffff;
    cursor: pointer;
} 

.reg-form{
    height: 20rem;
}

.reg-form .btn_1{
    width: 6rem;
}

.reg-form .send{
    font-weight: bold;
    color: #FFFFFF;
}

/*Конец формы авторизации*/

/*Главная страница*/

main {
    position: relative;
    margin-top: 2rem;
    max-width: 120rem;
    height: auto;
}

main .newsblock{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-around;     
}

main .post-place-1{
    font-family: Arial, Helvetica, sans-serif;
    margin: 1% 17px;
    width: 30%;
    height: 15rem;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 3px black;
    border-radius: 10px;
    text-decoration: none;
}

main .post-place-1:hover {
    cursor: pointer;
    /* width: 23.5%;
    height: 15.5rem; */
    box-shadow: 0 0 7px;
    border: 3px solid black;
}

.post-place-1 .post-top-1{
    margin: 10px;
}

.post-place-1 .post-bottom-1{
    margin: 4rem auto auto 1rem;
    font-size: 1.5rem;
}

main .rating-n{/*Скрытый рейтинг новостей*/
    display: none;
}

main .rating-pr{/*Скрытый рейтинг промоушена*/
    display: none;
}

main .rating-art{/*Скрытый рейтинг статей*/
    display: none;
}

main .post-rubrics{
    background: red;
}

main .main-post{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-around;
    
}

main .post-place-2{
    font-family: Arial, Helvetica, sans-serif;
    margin: 1% 17px;
    width: 44%;
    height: 20rem;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 3px black;
    border-radius: 10px;
    text-decoration: none;
}

main .post-place-2:hover {
    cursor: pointer;
    /* width: 23.5%;
    height: 15.5rem; */
    box-shadow: 0 0 7px;
    border: 3px solid black;
}

.post-place-2 .post-top-1{
    margin: 10px;
}

.post-place-2 .post-bottom-1{
    margin: 7rem auto auto 1rem;
    font-size: 1.7rem;
}

main .shop-comp{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-around;     
}

main .goods-place{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 1rem;  
    font-size: 1.5rem;   
}

main .goods-place a{
    color: #1e90ff;
    text-decoration: none; 
}


main .shop-comp img{
    width: 20rem;
    height: 20rem;
}

main .gallery-place{
    z-index: 5;
    margin-left: 12%;
    max-width: 75%;
}

main .day-reflection{
    font-family: Arial, Helvetica, sans-serif;
    margin: 1% 12px;
    height: 30rem;
    width: 100%;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 3px black;
    border-radius: 10px;
}

main .footer-prev{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 12%;
    width: 100%;
}

main .for-top-auth{
    display: flex;
    width: 17rem;
    height: 4rem;
    margin-top: 2%;
    padding-top: 2%;
    padding-left: 2%;
    font-size: 1.2rem;
    border: 2px solid #1E90FF;
}

main .for-top-auth a{
    color: #1e90ff;
    text-decoration: none;
}

main .for-top-auth img{
    width: 3rem;
    height: 3rem;
}

main .social-links{
    display: flex;
    flex-direction: column;
    margin-top: -1.5rem;
    margin-left: 2rem;
    width: 20rem;
    justify-content: center;
}

main .zen-c-m img{
    width: 12rem;
    height: 12rem;
}

main .vk-m{
    margin-top: 2rem;
}

main .scr-cont{
    margin-top: 1rem;
    margin-left: 1rem;
}

main .zen-link-m{
    margin-left: 2rem;
}

main .about-proj{
    margin-left: 2rem;
}

/* main .descr-txt-place{
    margin-left: 2%;
    width: 53%;
}

main .mp-description{
    font-size: 0.7rem;
} */

main .tags-place-m{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    flex-wrap: wrap;
    margin-top: 1rem;
    /* justify-content: space-around; */
}

main .tags-place-m a{
    margin-left: 1%; 
    background: #1e90ff; 
    color: #FFFFFF; 
    border-radius: 10px;
    cursor: pointer;
    padding: 0 5px 0 5px;
    text-decoration: none;
}

main .tags-place-m a:hover{
    background: #FFFFFF; 
    color: #1e90ff;
}

/*Стиль новостей и статей*/

article{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
}

article .article-head{
    height: 40%;
    color: white;
    text-shadow: -2px -1px 8px rgba(0,0,0,1);
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    border-radius: 10px;
}

article .article-head-top{
    display: flex;
    margin-left: 2%;
    width: 100%;
}

article .article-info{
   width: 30%;
}

article .article-info a{
    text-decoration: none;
    color: white;
 }

article .article-rating{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    margin-top: 2%;
    height: 2rem;
    width: 20%; 
    font-size: 2rem;
}

/*Цвета иконок*/

.fa-eye{
    color:rgba(30, 144, 255, 1);
}

.fa-heartbeat{
    color: red;
}

.fa-check-square-o{
    color: yellow;
}

.fa-pencil-square-o{
    color: green;
    font-weight:bold
}

.fa-diamond{
    color: red;
    font-weight:bold
}

.fa-thumbs-up{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 3px black;
}

.fa-money{
    color: green;
}

.fa-user-circle{
    color: red;
}

.fa-copyright{
    color: gray;
}

article .article-rating i{
    margin-left: 10%;
}

/* article .article-rating img{
    margin: 1% 2% 2% 1%;
    padding-left: 3%;
    width: 35%;
    height: 35%;
    
} */

article h1{
    font-size: 5rem;
    margin-top: 15%;
    margin-left: 15%;
}

article .a-content{
    margin-top: 2%;
    font-size: 2rem;
}

article .a-content img{
    width: 90%;
    height: auto;
}

article .a-video{
    margin-left: 10%;
}

article .like-place{
    margin-top: 1%;
    font-size: 2rem;
    max-height: 25rem;
}

article .like-place .btn_vot{
    height: 40px;
    width: 60px;
    font-weight: bold;
    font-size: 2rem;
    background:#FFFFFF;
    color: #1e90ff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

article .like-place .btn_vot:hover{  
    background:#1e90ff;
    color:#FFFFFF;
}

article .like-place .fav-and-recomm{  
    display: flex;
}

article .tags-place{
    display: flex;
    padding-bottom: 1rem;
    font-size: 1rem;
}

article .tags-place .tgs{
    margin-left: 1%; 
    background: #1e90ff; 
    color: #FFFFFF; 
    border-radius: 5px;
    cursor: pointer;
}

article .tags-place .tgs:hover{
    background: #FFFFFF; 
    color: #1e90ff;
}

article .recomm-place{
    margin-left: 70%;
}

article .fav-and-recomm{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

article .btn_fav_1{
    background:#FFFFFF;
    color: #1e90ff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 6rem;
    height: 2rem;
}

article .btn_fav_2{
    background:red;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 6rem;
    height: 2rem;
}

article .btn_recomm{
    background:green;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 11rem;
    height: 2rem;
    margin-left: 1rem;
}

.comment{
    display: flex;
    margin-top: 1rem;
}

.comment-form{
    margin-top: 1rem;
    margin-left: 15%;
}

.fls-textarea{
    margin-top: 1rem;
    margin-left: 15%;
    width: 90%;
}

.comment-textarea{
    width: 90%;
}

.comment-text{
    margin-left: 3%;
    width: 90%;
}

.comment-text img{
   width: 90%;
    height: auto;
}

.comment-person-pl img{
    width: 90px;/*Параметры аватара*/
    height: 90px;
}

.comment-ans{
    margin-left: 80%;
    font-weight: bold;
}

.comment-auth{
    margin-top: 1rem;
    margin-left: 10%;
}

.comment-line{
    margin-top: 1rem;
    width: 90%;
    height: 0;
    border: 1px solid rgba(30, 144, 255, 1);
    
    /* margin-left: auto; */
    flex-shrink: 0;
    flex-grow: 0;
    transform: rotate(180deg);
}

.sub-comment{
    margin-top: 1rem;
}

.sub-comment-info{
    border: 1px solid rgba(30, 144, 255, 1);
    padding: 0.3%;
    border-radius: 5px;
}

article .zen-ch a{
    text-decoration: none;
}

article .zen-ch img{
    width: 3%;
    height: 3%;
}

article .zen-ch .zen-ch-title{
    font-size: 1.5rem;
    vertical-align: 45%; 
}

/*Аккаунт*/
main .acc-m{
    display: flex;
    margin-top: 1rem;
}

main .ava-pl{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    margin-left: 1.5%;
}

main .ava-pl img{
    height: 40%;
    width: 40%;
    border-radius: 10px;
    
}

main .ava-pl button{
    margin-top: 0.5rem;
    width: 40%;
}

main .acc-info-pl{
    height: 50%;
    width: 80%;
    margin-left: -27%;
    margin-top: -1.5%;
    font-size: 1.5rem;
}

.set-acc-ava-pl h4{
    margin-left: 5%;
}

.set-acc-ava-pl img{
    width: 15rem;
    height: 15rem;
}

.footer a{
    color: #1e90ff;
}

.counts{
    display: flex;
    margin-top: 1rem;
    margin-left: 40%;
}
