/*Адаптивность*/
@media (max-width: 1600px){

    .m-content{
        margin-left: 5%;
        max-width: 85%; 
    }

    .main-headers{
        max-width: 100%;
        margin: 1% 0 0 1%;
        margin-left: 5%;
    }

    .logpanel{
        margin-left: 20%;
        font-size: 1.5rem;
    }

    main .f-zen {
        margin-left: 7%;
    }

    main .footer-prev{
        margin-left: 10%;
    }

    main .social-links{
        margin-left: 1rem;
    }

    article h1{
        font-size: 4rem;
        margin-top: 14%;
        margin-left: 14%;
    }

    header .search-btn{
        width: 25%;
    }

    header .header-social-net-pl{
        width: 15%;
        margin-right: 2%;
    }
    
    header .login-logout-btn-pl{
        width: 25%;
    }
    
}


@media (max-width: 1366px){
    body{ 
        overflow-x:hidden; 
    }

    .authorization-form{   
        width: 70%;
        height: 80%;
        margin-left: 10%;
    }

    .reg-form{
        height: 21rem;
    }

    .authorization-form .send input{
        margin-bottom: 3px;
        height: 1rem;
     }

    .m-content{
        margin-left: 5%;
        max-width: 90%; 
    }

    .logpanel{
        margin-left: 20%;
        font-size: 1rem;
    }

    .logpanel .btn_2{
        height: 1.5rem;
        font-size: 1rem;
    }

    .logpanel .btn_1{
        height: 1.5rem;
        font-size: 1rem;
    }

    header .header-social-net-pl{
        width: 10%;
        margin-right: 1%;
    }

    header .header-social-net-pl a img{
        width: 32px;
        height: 32px;
        margin-left: 3%;
    }

    /*Мессенжер*/

    .messeger-pl{
        margin-left: 20%;
        max-width: 70%; 
    }
 
    /*Главное меню*/

    .main-headers-place{
        width: 30%;
        font-size: 0.9rem; 
    }

    .main-headers-txtplace{
        font-size: 0.9rem;
    }

    header  nav{
        margin: 3% 2% 0 0%;
    }

    header .navigation-line{
        width: 58%;
    }

    header nav a{ 
        height: 2rem;
        font-size: 1.2rem;
    }

    header .search-btn{
        width: 35%;
    }

    header .login-logout-btn-pl{
        width: 45%;
    }

    header .authorization-form{
        margin-left: 35%;
    }

    main .post-place-1{
        margin: 1% 5px;
        width: 30%;
    }

    .post-place-1 .post-bottom-1{
        font-size: 1.3rem;
    }

    main .post-place-video{
        margin: 1% 30px;
        width: 90%;
    }

    main .shop-comp img{
        width: 15rem;
        height: 15rem;
    }

    main .post-place-2{
        margin: 1% 5px;
        width: 48%;
    }

    main .tags-place-m{
        font-size: 0.9rem;
        margin-top: 1rem;
    }

    main .for-top-auth{
        width: 95%;
        /* height: 2.5rem; */
        margin-top: 2%;
        padding-top: 2%;
        padding-left: 2%;
        font-size: 0.8rem;
    }

    main .for-top-auth img{
        width: 1.5rem;
        height: 1.5rem;
    }

    main .footer-prev{
        margin-left: 9%;
    }

    main .social-links{
        margin-top: -3rem;
        margin-left: 1rem;
    }
    

    main .about-proj{
        margin-left: 1rem;
    }


    main .zen-c-m img{
        width: 10rem;
        height: 10rem;
    }

    main .acc-info-pl{
        height: 50%;
        width: 80%;
        margin-left: -18%;
        margin-top: -1.5%;
        font-size: 1.5rem;
    }

    .comment-text img{
        width: 90%;
         height: auto;
    }

    article h1{
        font-size: 4rem;
        margin-top: 12%;
        margin-left: 12%;
    }

    .right-side .no-link-header{ 
        line-height: 1rem;
    }

     article .zen-ch img{
        width: 5%;
        height: 5%;
    }
    
    article .zen-ch .zen-ch-title{
        font-size: 1.5rem;
        vertical-align: 60%; 
    }

}

@media (max-width: 960px){

    main .acc-m{
        flex-direction: column;
    }

    main .ava-pl img{
        height: 50%;
        width: 50%;      
    }

    main .for-top-auth{
        width: 15rem;
        /* height: 4rem; */
        grid-gap: 1%;
        margin-top: 0.5%;
        padding-top: 0.5%;
        padding-left: 2%;
        margin-left: 1rem;
        font-size: 0.9rem;
    }

    main .for-top-auth img{
        width: 2rem;
        height: 2rem;
    }

    main .acc-info-pl{
        width: 80%;
        margin-left: 1%;
        margin-top: 1rem;
        font-size: 1.2rem;
    }

    .error-pl{
        margin-left: 1%;
        max-width: 98%;    
    }

    /* .authorization-form{   
        width: 50%;
        height: 30%;
        padding: 10px;
        margin-left: 10%;
    } */

    /*Мессенжер*/

    .messeger-pl{
        margin-left: 10%;
        max-width: 80%; 
    }

    .for-unr-mess{
        width: 25rem;
    }

    .for-dialogs-mess{
        width: 25rem;
    }

    .m-content{
        margin-left: 3%;
        max-width: 95%; 
    }

    .logpanel{
        margin-left: 2%;
        font-size: 0.8rem;
    }
 
    /*Главное меню*/

    .main-headers{
        margin-left: 5%;
    }

    .main-headers-place{
        width: 40%;
        font-size: 0.9rem; 
    }

    .main-headers-txtplace{
        font-size: 0.5rem;
    }

    .sub-header{
        display: none;
    }

    header  nav{
        margin: 3% 2% 0 0%;
    }

    header .navigation-line{
        width: 58%;
    }

    header nav a{ 
        height: 2rem;
        font-size: 1.5rem;
    }

    header .authorization-form{
        margin-left: 35%;
    }

    header{
        height: 5rem;
    }

    header .hide-for-adpt-1{
        display: none;
    }

    header a img{
        margin-left: 25px;
        margin-top: 5px;
        height: 80px;
        width: 80px;
    }

    header .login-logout-btn-pl a{
        margin-top: 15px;
    }
    
    header .search-btn{
        margin-top: 15px;
        width: 10%;
    }

    main .post-place-1{
        margin: 1% 5px;
        width: 30%;
    }

    header .header-social-net-pl{
        display: none;
    }

    header .full-logo{
        display: none;
    }

    header .adpt-logo{
        display: block;
    }

    /*Grid Главной страницы и переопределение некоторых стилей*/
    .main-row{   
        
        grid-template-columns: 100%;
        grid-template-areas: 
        "left-side"
        "right-side";
    }

    .article-row{   
        
        grid-template-columns: 100%;
        grid-template-areas: 
        "left-side"
        "right-side";
    }

    .rating{
        display: none;
    }

    .newsblock-rs{
        display: none;
    }

    .similar-art{
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: space-around;
    }

    main .post-place-grid{
        margin: 1% 5px;
        width: 30%;
    }

    .right-side{
        display: none;
    }

    .foot-menu{
        display: none;
    }

    .post-place-1 .post-bottom-1{
        font-size: 1.3rem;
    }

    main .post-place-2{
        margin: 1% 5px;
        width: 48%;
    }

    main .post-place-video{
        margin: 1% 5px;
        width: 48%;
    }

    main .shop-comp img{
        width: 11rem;
        height: 11rem;
    }

    main .tags-place-m{
        font-size: 0.5rem;
        margin-top: 1rem;
    }

    main .tags-place-m{
        font-size: 0.9rem;
        margin-top: 1rem;
    }

    main .footer-prev{
        margin-left: 2%;
    }

    main .ava-pl img{
        height: 70%;
        width: 70%;      
    }

    .ava-pl .fa-user-circle{
        font-size: 12rem;
    }

    main .about-proj{
        margin-left: 0.5rem;
        width: 95%;
    }

    article h1{
        font-size: 3rem;
        margin-top: 10%;
        margin-left: 10%;
    }

    article .zen-ch .zen-ch-title{
        vertical-align: 50%; 
    }

    article .recomm-nolog-txt{
        font-size: 1.5rem;
    }

    .counts{
        margin-left: 10%;
    }

    /* .comment-ans{
        margin-left: 3%;
    } */

    .comment-like{
        margin-left: 50%;
    }

    /*Стили раздела видео*/
    .video-header{
        margin-left: 5%;
    }

    .video-pl{
        margin-left: 5%;
        max-width: 95%;
    }

    /*Стили блога*/
    .blog-m{
        flex-direction: column;
        margin-top: 0.1rem;
    }

    .blog-ava-pl{
        height: 70%;
        width: 70%;
        margin-left: 1.5%;
    }

    .blog-ava-pl img{
        height: 60%;
        width: 60%;  
    }

    .blog-header-main a{
        margin-left: 30%;
    }

    .blog-login-logout-btn-pl-2 a{
        margin-left: 65%;

    }

    .blog-info-pl{
        height: 50%;
        width: 90%;
        margin-left: 1%;
        margin-top: -1%;
        font-size: 1.5rem;
    }
    
}

@media (max-width: 768px){

     /*Мессенжер*/

     .messeger-pl{
        margin-left: 5%;
        max-width: 85%; 
    }

    .for-unr-mess{
        width: 17rem;
        height: 3rem;
        font-size: 1rem;
        margin-left: 1rem;
    }
    
    .for-unr-mess img{
        width: 2.5rem;
        height: 2.5rem;
    }

    .for-dialogs-mess{
        width: 17rem;
        height: 3rem;
        font-size: 1rem;
        margin-left: 1rem;
    }

    .for-dialogs-mess img{
        width: 2.5rem;
        height: 2.5rem;
    }

    .del-mess-btn{
        height: 3rem;
    }

    .m-content{
        margin-left: 1%;
        max-width: 99%; 
    }

    .about-project{
        margin-left: 4%;
        max-width: 90%;
    }

    /*Главное меню*/
    .main-headers{
        margin-left: 2%;
    }

    .main-headers-place{
        width: 90%;
    }

    .main-headers-txtplace{
        font-size: 1rem;
    }

    .adpt-title {
        display: none;
    }
  
    .addupd-post .btn_2{
        margin-left: 10%;
    }

    .addupd-post .btn_1{
        margin-left: 10%;
    }

    .addupd-post .btn_4{
        margin-left: 10%;
    }

    header  nav{
        margin: 3% 2% 0 0%;
    }


    header nav a{ 
        height: 2rem;
        font-size: 1.5rem;
    }

    header .authorization-form{
        margin-left: 35%;
    }

    header{
        height: 5rem;
    }

    header a img{
        margin-left: 5px;
        margin-top: 5px;
        height: 60px;
    }

    header .login-logout-btn-pl a{
        margin-top: 10px;
    }
    
    header .search-btn{
        margin-top: 10px;
    }

    header .hide-for-adpt-2{
        display: none;
    }

    .login-logout-btn-pl .profile-menu a{
        font-size: 0.9rem;
    }

    .profile-btn .fa-user-circle{
        font-size: 4rem;
        margin-bottom: 5%;
    }
    
    .profile-panel img{
        width: 3.5rem;
        height: 3.5rem;
    }

    main .post-place-1{
        margin: 1% 5px;
        width: 90%;
    }

    .newsblock .post-place-1:nth-child(1){ 
        margin: 1% 5px;
        width: 90%;
        height: 15rem;
    }

    .newsblock .post-place-1:nth-child(1) .post-rubrics{ 
        background: #1E90FF;
        padding: 5px;
        border-radius: 15px;
        text-shadow: none;
    

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
    }
    
    .newsblock .post-place-1:nth-child(1) .post-bottom-1{ 
        margin-top: 26%;
        margin-left: 2%;
        font-size: 1.3rem;
    }

    .newsblock .post-place-1:nth-child(2){
        margin: 1% 5px;
        width: 90%; 
        height: 15rem;
    }

    .newsblock .post-place-1:nth-child(2) .post-bottom-1{ 
        margin-top: 26%;
        margin-left: 2%;
        font-size: 1.3rem;
    }

    .newsblock .post-place-1:nth-child(1) .post-bottom-1{
        margin-top: 21%; 
    }
    
    .newsblock .post-place-1:nth-child(2) .post-bottom-1{
        margin-top: 21%;
    }

    .newsblock .post-place-1:nth-child(1) .post-header-1:nth-child(1){
        font-size: 1.3rem; 
    }
    
    .newsblock .post-place-1:nth-child(2) .post-header-1:nth-child(1){
        font-size: 1.3rem; 
    }

    .promotionblock .post-place-1:nth-child(1){ 
        width: 90%; 
        height: 15rem;
    }
    
    main .post-place-grid{
        margin: 1% 5px;
        width: 90%;
    }

    .post-place-1 .post-bottom-1{
        font-size: 1.3rem;
    }

    main .post-place-2{
        margin: 1% 5px;
        width: 90%;
    }

    main .post-place-video{
        margin: 1% 5px;
        width: 90%;
    }

    /* main .shop-comp{
        width: 85%;
        margin-left: 5%;
    } */

    main .goods-place{
        width: 35%;
        font-size: 0.7rem;   
    }

    main .shop-comp{
        display: none;
    }

    .shop-comp-header{/*Временное решение сделать одним набором правил*/
        display: none;
    }

    main .tags-place-m{
        font-size: 0.5rem;
        margin-top: 1rem;
    }

    main .tags-place-m{
        font-size: 0.5rem;
        margin-top: 1rem;
    }

    main .f-zen {
        margin-left: 5%;
    }

    main .footer-prev{
        margin-left: 2%;
        flex-direction: column;
    }

    main .social-links{
        margin-top: 1rem;
        margin-left: 1rem;
    }

    main .auth-top{
        margin-left: 1rem;
    }

    main .about-proj{
        height: 90%;
        margin-left: 0.3rem;
        font-size: 1rem;
    }

    main .ava-pl button{
        margin-top: 0.5rem;
        width: 70%;
    }

    article .article-head{
        
        width: 95%;
        margin-left: 2%;
    }

    article h1{
        font-size: 2.5rem;
        margin-left: 5%;
    }

    article .article-info{
        font-size: 0.8rem;
        width: 50%;
     }
      
     article .article-rating{
         margin-left: 20%;
         height: 2rem;
         font-size: 0.8rem;
     }

     article .a-content{
        margin-left: 2%;
        width: 95%;
        font-size: 1.7rem;
    }

    article .tags-place{
        padding-bottom: 1rem;
        font-size: 1.5rem;
    }

    article .zen-ch .zen-ch-title{
        font-size: 1.1rem;
        vertical-align: 50%; 
    }

    article .recomm-place{
        margin-left: 52%;
    }

    article .like-place .btn_vot{
        height: 30px;
        width: 40px;
        font-size: 1.5rem;
    }

    .comment-ans{
        margin-left: 3%;
    }

    .comment-auth{
        margin-left: 11%;
    }

    .comment-like{
        margin-left: 25%;
    }

    .counts{
        margin-left: 3%;
    }

    .bread-crumbs{
        display: none;
    }

    .main-headers-content h2{
        line-height: 0%;
        font-size: 1.5rem;
        margin-left: 0.5rem;
    }

    .main-headers-content .no-link-header{
        line-height: 0%;
    }

    .main-headers-circle{
        margin-top: 1.8rem;
    }

    .a-line{
        display: none;
    }

    /*Стили блога*/
    .blog-login-logout-btn-pl-2 a{
        margin-left: 60%;

    }
    
    .blog-header-main a{
        margin-left: 1%;
        font-size: 18px;
    }
}