*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;/*параметры рамки*/
    max-width: 100%;
    /* background: #ffff; */
    /* background-image: url(../fone_1.jpg); */
    font-family: Arial;
    /* background: linear-gradient(to top left, #1e90ff, #fefcea); */
}

input{
    border-radius: 10px;
}

textarea{
    display: block;/*Текстовое поле для добавления description*/
	width: 95%;
}

details{
    color:red;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em;
    cursor: pointer;
}

.container{
    /*max-width: 1 814px;*/
    margin: 0 auto;
}

.hidden{
    display: none;
}

.btn_1 {
    background:#FFFFFF;
    color: #0F4780;
    cursor: pointer;
    border: 1px solid #0F4780;
    border-radius: 5px;
}

.btn_2 {
    background:#1e90ff;
    color: #FFFFFF;
    cursor: pointer;
    border: 1px solid rgb(237, 240, 243);
    border-radius: 5px;
}

.btn_3 {
    background:red;
    color: #FFFFFF;
    cursor: pointer;
    border: 1px solid rgb(237, 240, 243);
    border-radius: 5px;
}

.btn_4 {
    background:green;
    color: #FFFFFF;
    cursor: pointer;
    border: 1px solid rgb(237, 240, 243);
    border-radius: 5px;
}

.addit-btn{
    height: 2rem;
    font-weight: bold;
}

.btn_1:hover{
    background:#0F4780;
    color: #FFFFFF;
    font-weight: bold;
}

.btn_2:hover{
    background:#FFFFFF;
    color: #1e90ff;
    font-weight: bold;
}

.btn_3:hover{
    background:#FFFFFF;
    color: red;
    font-weight: bold;
}

.btn_4:hover{
    background:#FFFFFF;
    color: green;
    font-weight: bold;
}

.m-content{
    margin-left: 10%;
    max-width: 75%; 
}

.add-main-form{
    margin-top: 1rem;
    padding: 2%;
    border: 2px solid #1e90ff;
}

.error-pl{
    margin-top: 1rem;
    margin-left: 15%;
    max-width: 70%;
    text-align: left;
    font-weight: bold;
    padding: 1rem;
    border: 2px solid #1e90ff;
    background-color: #FFFFFF;
}

.error-log{
    text-align: center;
    font-weight: bold;
    color: red;
}

.adm-news-pl{
    padding: 1rem;
    border: 2px solid #1e90ff;
    margin-top: 1rem;
    margin-left: 12%;
}

.for-info-txt{
    text-align: center;
}

.for-tables-premod{
    margin-top: 1rem;
    margin-left: 15%;
    text-align: center;
    border: 2px solid black;
}

.bread-crumbs{
    font-size: 1rem;
    color: #0F4780;
    margin-left: 2.5%;
}

.bread-crumbs a{
    color: #0F4780;
    text-decoration: none;
}

.for-tables-premod th, .for-tables-premod td{
    text-align: center;
    border: 2px solid black;
}

.for-blocks-m-top{
    margin-top: 1rem;
}

.error-pl .btn_2{
    margin-left: 45%;
}

.error-pl .btn_3{
    margin-left: 45%;
}

.page-output{
    margin-left: 30%;
    max-width: 50%;
}

.form-pl{
    border: 2px solid #1e90ff;
    padding: 1%;
    font-size: 1rem;
    margin-top: 1rem;
}

.logpanel{
    margin-top: 1rem;
    margin-left: 30%;
    font-size: 1.7rem;
}

.logpanel .btn_1{
    height: 2rem;
    font-size: 1rem;
}

.logpanel .btn_2{
    height: 2rem;
    font-size: 1rem;
}

.logpanel a{
    color: red;
    text-decoration: none;
}

.addupd-post{
    margin-top: 1rem;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
}

.addupd-post .btn_2{
    margin-left: 30%;
    width: 20rem;
    height: 2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.addupd-post .btn_1{
    margin-left: 30%;
    width: 20rem;
    height: 2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.addupd-post .btn_4{
    margin-left: 30%;
    width: 20rem;
    height: 2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.for-info-logo{
    margin-left: 40%;
}

.for-info-logo img{
    width: 30%;
    height: 30%;
}

.for-info-font{
    font-size: 2rem;
}

/*Мессенжер*/

.messeger-pl{
    border: 2px solid #1e90ff;
    margin-top: 1rem;
    margin-left: 25%;
    max-width: 50%; 
}

.unr-mess-a{
    text-decoration: none;
    color: #1e90ff;
}

.for-unr-mess{
    display: flex;
    width: 30rem;
    height: 4rem;
    font-size: 1.2rem;
    border: 2px solid #ffff;
    background: #ffff;
    color: #1e90ff;
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border-radius: 15px;
}

.for-unr-mess img{
    width: 3rem;
    height: 3rem;
    padding-left: 1%;
    padding-top: 1%;
    border-radius: 10px;
}

.unr-mess-txt{
    padding-top: 4%;
}

.mess-dialogs{
    margin-top: 1rem;
}

.unr-mess-count{
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
    border-radius: 20px;
    background-color: red;
    margin-top: 1%;
    text-align: center;
    padding-top: 0.5%;
}

.for-dialogs-mess{
    display: flex;
    width: 30rem;
    height: 4rem;
    font-size: 1.2rem;
    border: 2px solid #1E90FF;
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: #ffff;
    background: #1E90FF;
    border-radius: 15px 0 0 15px;
}

.for-dialogs-mess img{
    width: 3rem;
    height: 3rem;
    padding-left: 1%;
    padding-top: 1%;
    border-radius: 10px;
}

.dialog-mess-pl{
    display: flex;
}

.dialog-mess-a{
    text-decoration: none;
    color: #1e90ff;
}

.del-mess-btn{
    margin-top: 1rem;
    height: 4rem;
    border-radius: 0 15px 15px 0;
}

.send-mess-dtn{
    margin-top: 1rem;
    margin-left: 42%;
    height: 3rem;
    width: 7rem;
    font-weight: bold;
}

.mess-pl-style-to{
    padding: 1rem;
    margin-top: 1rem;
    background: #ffff;
    color: #1e90ff;
    border-radius: 10px;
}

.mess-pl-style-to a{
    color: #ffff;
}

.mess-pl-style-to .mess-header{
    color: #ffff;
    background: #1e90ff;
    border-radius: 5px;
    padding: 2px;
}

.mess-pl-style-fr .mess-header{
    color: #1e90ff;
    background: #ffff;
    border-radius: 5px;
    padding: 2px;
}

.mess-pl-style-fr{
    padding: 1rem;
    margin-top: 1rem;
    background: #1e90ff;
    color: #ffff;
    margin-left: 2rem;
    border-radius: 10px;
}

.mess-text img{
    width: 60%;
    height: 40%;
} 

.mess-text{
    width: auto;
} 

.del-mess{
    margin-left: 98%;
}

/*--Конец стилей мессенжера--*/

/*Поиск*/

.search-form{
    margin-top: 1rem;
    margin-left: 20%;
}

.search-text{
    height: 1.5rem;
    width: 35%;
}

.search-select{
    height: 1.5rem;
}

.search-form .btn_2{
    height: 1.5rem;
}

/*Конец стилей поиска*/

.fopm-margin{
    margin-left: 30%;
}

.page-output .btn_1{
    width: 2rem;
    height: 2rem;
    margin-top: 1%;
}

.page-output .btn_2{
    width: 2.1rem;
    height: 2.1rem;
    font-weight: bold;
    margin-top: 1%;
}

.task-pl{
    margin-top: 1rem;
    border: 2px solid #1e90ff;
}

.task-pl-header{
    background: #1e90ff;
    padding: 0.5%;
    color: #ffff;
}

.task-pl-header a{
    color: #ffff;
}

.task-txt{
    padding: 0.5%;
}

.main-headers{
    max-width: 100%;
    height: 5rem;
    
    margin-left: 11%;
    margin-bottom: 1rem;
    display: flex;
}

.headers-places{
    display: flex;
}

/* .main-headers-place{
    background: linear-gradient(to top, #1e90ff, #FFFFFF);
    border: 1px solid rgba(30, 144, 255, 1);
    width: 40%;
    
    padding-left: 1%;
    font-family: Arial;
    font-style: normal;
    
    font-size: 1.2rem;
    color: white;
    border-radius: 10px 10px 0px 0px;
    text-shadow: 1px 1px 2px black, 0 0 3px black;
    z-index: 9;
    text-decoration: none;
} */

.main-headers-content{
    color: #0F4780;
}

.main-headers-content h2{
    line-height: 0%;
    font-size: 2rem;
    margin-left: 0.5rem;
}

.main-headers-content a{
    text-decoration: none;
    color: #0F4780;
}

.main-headers-content .sub-header{
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

.main-headers-content .no-link-header{
    font-size: 1.5rem;
    line-height: 55%;
}

.main-headers-place:hover{
    background: linear-gradient(to top, #FFFFFF, #1e90ff);
}

/* .main-headers-place a{
    color: white;
    
} */

/* .main-headers-subplace{
    background: #FFFFFF;
    border: 1px solid rgba(30, 144, 255, 1);
    text-shadow: 1px 1px 2px gray, 0 0 3px gray;
    width: 20%;
    height: 10%;
    padding-left: 1%;
    font-family: Arial;
    margin-left: 1px;
    font-style: normal;
    line-height: 39px;
    font-size: 1.2rem;
    color: #1e90ff;
    border-radius: 10px 10px 0px 0px;
}

.main-headers-subplace a{
    color: #1e90ff;
    text-decoration: none;
}

.main-headers-txtplace{
    padding-left: 1%;
    font-family: Arial;
    margin-left: 10px;
    font-style: normal;
    line-height: 39px;
    font-size: 1.2rem;
    color: #1e90ff;
}

.main-headers-txtplace a{
    color: #1e90ff;
    text-decoration: none;
} */

.main-headers-line{
    width: 80%;
    height: 0;
    background: #1e90ff;
    border: 3px solid rgba(30, 144, 255, 1);
    margin-top: -0.3%; 
    /* margin-left: 0.5%; */
    flex-shrink: 0;
    flex-grow: 0;
    transform: rotate(180deg);
}

.main-headers-circle{
    margin-top: 2.55rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    background: #1e90ff;
}

.main-headers-content{
    width: 100%;
}

.tags-plase-prew{
    margin-left: 1%; 
    background: #1e90ff; 
    color: #FFFFFF; 
    border-radius: 10px;
    cursor: pointer;
    padding: 0 5px 0 5px;
    text-decoration: none;
}

/*Главное меню*/
/* .subheader{
    height: 10rem;
} */

header{
    display: flex;
    background: #ffff;
    flex-direction: column;
    /* position: fixed; */
    /* background-image: url(../logo3.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    /* width: 118rem; */
    
    z-index: 10;
}

header a img{
    margin-left: 40px;
    margin-top: 25px;
    
    height: 110px;
}

header .submenu {
    position: absolute;
    display: none;
}

header .submenu button{
    width: 10rem;
    background: #FFFFFF;
}

header .header-logo-pl{
    display: flex;
}

header .navigation-line{
    width: 73%;
    height: 0;
    border: 3px solid rgba(30, 144, 255, 1);
    
    /* margin-left: auto; */
    flex-shrink: 0;
    flex-grow: 0;
    transform: rotate(180deg);
}

header .login-logout-btn-pl {
    background: #0F4780;
    width: 40%;
}

header .login-logout-btn-pl a{
    color: #ffff;
    margin-top: 50px;
    padding: 20px 30px;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    transition: .2s ease-in-out;
}

header .search-btn{
    color: #0F4780;
    margin-top: 45px;
    padding: 20px 30px;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    transition: .2s ease-in-out;
    width: 20%;
}

header .header-social-net-pl{
    display: flex;
    width: 20%;
    margin-top: 40px;
    margin-right: 5%;
}

header .header-social-net-pl a img{
    width: 33.75px;
    height: 33.75px;
}

header .adpt-logo{
    display: none;
}

header .header-line{
    border: 3px solid #0F4780;
    width: 100%;
    height: 0;
}

footer{
    text-align: center;
}

footer .header-line{
    border: 2px solid #1e90ff;
    width: 100%;
    height: 0;
    margin-top: 1rem;
}

footer a{
    color: #0F4780;
}

footer .menu-container{
    width: 60%;
    margin-left: 35%;
}
/*
header .authorization-form{
    display: none;
    position: fixed;
    font-family: Arial;
    top: 20%;
    left: 1%;
    /* background: #1e90ff; */
   /* width: 17rem;
    height: 12rem;
    padding: 10px;
    margin-left: 50%;
    margin-top: -40px;
    background: #1e90ff;
    border-radius: 10px 10px 10px 10px;
    z-index: 15;
}

header .authorization-form form{
    display: flex;
    flex-direction: column;
}

header .authorization-form .close-btn{
    color:#fefcea;
    cursor: pointer;
    margin-left: 95%;
    font-size: 1.5rem;
}

header .authorization-form .close-btn:hover{
    color: red;  
}

header .authorization-form .send{
    display: flex;
    flex-direction: column;
    background: #1e90ff;
    margin-top: 0.2rem;
    height: 1.8rem; 
    border-radius: 5px;
}

header .authorization-form .btn_1{
    margin-top: 1rem;
}

header .authorization-form input{
   text-align: center; 
   margin-bottom: 5px;
}

header .authorization-form .reg-group {
    margin-top: 4rem;
} 

header .authorization-form .reg-group a {
    color: #ffff;
    cursor: pointer;
} */

/*Форма авторизации по ссылке*/
.login-logout-btn-pl .profile-menu{
    right: 10%;
    border-radius: 10px;
    display: none;
    position: absolute;
    background: #BFE2FF;
    z-index: 15;
    width: auto;
}

.login-logout-btn-pl .profile-menu a{
    color: #0F4780;
    margin-top: 3px;
    padding: 5px 10px;
    font-size: 1.2rem;
}

.login-logout-btn-pl .profile-menu .profile-menu-payform{
    color: #0F4780;
    margin-top: 3px;
    padding: 5px 10px;
    font-size: 1.2rem;
    border: 1px solid #0F4780;
}

.login-logout-btn-pl .profile-menu .profile-menu-payform button{
    border: none; 
    outline: none; 
    background: none;
    cursor: pointer;
    color: #0F4780;
    font-size: 1.2rem;
    margin-top: 3px;
    padding: 5px 10px;
}

.profile-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
    margin-left: 10%;
    color: #ffff;
}

.profile-btn .fa-user-circle{
    font-size: 5.5rem;
    cursor: pointer;
    color: #ffff;
    margin-bottom: 5%;
}

.profile-panel img{
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 5%;
}

.profile-menu .logout-form{
    margin-left: 3%;
    padding-bottom: 2%;
}

.authorization-form{
    
    font-family: Arial;
    /* background: #1e90ff; */
    width: 30%;
    height: 20%;
    padding: 10px;
    margin-left: 40%;
    margin-top: 1rem;
    background: #1e90ff;
    border-radius: 10px 10px 10px 10px;
    z-index: 15;
}

.authorization-form form{
    display: flex;
    flex-direction: column;
}

.authorization-form .close-btn{
    color:#fefcea;
    cursor: pointer;
    margin-left: 95%;
    font-size: 1.5rem;
}

.authorization-form .close-btn:hover{
    color: red;  
}

.authorization-form .send{
    display: flex;
    flex-direction: column;
    background: #1e90ff;
    margin-top: 0.2rem;
    height: 1.8rem; 
    border-radius: 5px;
}

.authorization-form .btn_1{
    margin-top: 1rem;
    margin-left: 45%;
    width: 3rem;
}

.authorization-form .send input{
   text-align: center; 
   margin-bottom: 5px;
   height: 3rem;
}

.authorization-form .reg-group {
    text-align: center;
    margin-top: 4rem;
} 

.authorization-form .reg-group a {
    color: #ffff;
    cursor: pointer;
} 

.reg-form{
    height: 20rem;
}

.reg-form .btn_1{
    width: 6rem;
}

.reg-form .send{
    font-weight: bold;
    color: #FFFFFF;
}

/*Конец формы авторизации*/

/*Главная страница*/

main {
    position: relative;
    margin-top: 2rem;
    max-width: 120rem;
    height: auto;
}

main .newsblock{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content:flex-start;     
}

main .post-rubrics{
    background: #1E90FF;
    padding: 5px;
    border-radius: 15px;
    text-shadow: none;
 

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}



main .post-place-1{
    font-family: Arial, Helvetica, sans-serif;
    margin: 1% 17px;
    width: 30%;
    height: 15rem;
    color: white;
    text-shadow:-4px -4px 10px #000000,7px -3px 11px #000000,-4px 8px 12px #000000,10px 7px 10px #303632,-12px 4px 12px #1c1c1c;
    border-radius: 10px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: cover; 
}

.newsblock .post-place-1:nth-child(1){ 
    width: 62%;
    height: 30rem;
}

.newsblock .post-place-1:nth-child(1) .post-rubrics{ 
    font-size: 24px;
}

.newsblock .post-place-1:nth-child(1) .post-bottom-1{ 
    margin-top: 30%;
}

.newsblock .post-place-1:nth-child(2){
    height: 30rem; 
}

main .post-place-1:hover {
    cursor: pointer;
    background-size: 120% 120%;
    /* width: 23.5%;
    height: 15.5rem; */
    
}

.post-place-1 .post-top-1{
    margin-left: 10px;
    margin-top: 20px;
}


.post-place-1 .post-bottom-1{
    margin-top: 21%;
    margin-left: 2%;
    font-size: 1.5rem;
}


.newsblock .post-place-1:nth-child(1) .post-bottom-1{
    margin-top: 30%; 
}

.newsblock .post-place-1:nth-child(2) .post-bottom-1{
    margin-top: 65%; 
}

.newsblock .post-place-1:nth-child(1) .post-header-1:nth-child(1){
    font-size: 2.5rem; 
}

.newsblock .post-place-1:nth-child(2) .post-header-1:nth-child(1){
    font-size: 2rem; 
}

.post-bottom-1 .post-header-1{
    font-size: 1.5rem;
}

.post-bottom-1 .post-date-1{
    font-size: 1rem;
    font-weight: 100;
}


/*Grid Главной страницы, статей и переопределение некоторых стилей*/
.main-row{
    display: grid;
    grid-template-columns: 84% 15%;
    grid-template-areas: 
    "left-side right-side";
}

.article-row{
    display: grid;
    grid-template-columns: 84% 15%;
    grid-template-areas: 
    "left-side right-side";
}

.left-side .m-content{    
    margin-left: 3%;
    max-width: 95%; 
}

.left-side .main-headers{
    margin-left: 3%;
}

.left-side .gallery-place{
    margin-left: 3%;
    max-width: 90%;
}

.right-side .main-headers-line{
    width: 100%;
    height: 0;
    background: #1e90ff;
    border: 3px solid rgba(30, 144, 255, 1);
    margin-top: 8%;
    /* margin-left: 0.5%; */ 
}

.right-side .no-link-header{
    font-size: 1rem;
}

.comment-mp{
    padding: 1rem;
    background: #B1D8FF;
    color: #ffff;
    border-radius: 10px;
    width: 100%;
}

.comment-auth-pl-mp{
    display: flex;
    padding-left: 5px;
    border-radius: 10px;
}

.comment-auth-pl-mp img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
}

.comment-auth-pl-mp .fa-user-circle-o{
    color: #0F4780;
    font-size: 2rem;
}

.comment-auth-pl-mp a{ 
    margin-top: 3%;
    margin-left: 5%;
    color: #0F4780;
    text-decoration: none;
}

.comment-txt-pl-mp{ 
    color: #0F4780;
    background: #ffff;
    margin-top: 5%;
    padding: 3%;
    border-radius: 10px;
}

.comment-like-btn-mp{
    color: #0F4780;
    border: none;
    background: none;
}

.comment-like-btn-mp:hover{
    cursor: pointer;
}


.comment-header-mp a{
    color: #0F4780;
    text-decoration: none;
}

.comment-bottom-mp{
    display: flex;
    margin-top: 0.5rem;
}

.comment-ans-mp{
    margin-left: 2%;/*75% старое значение*/
    font-weight: bold;
}

.comment-like-mp{
    
    font-weight: bold;
}

.for-top-auth{
    display: grid;
    width: 100%;
    /* height: 4rem; */
    margin-top: 2%;
    padding-top: 2%;
    padding-left: 2%;
    font-size: 1.2rem;
    border: 2px solid #0F4780;
    border-radius: 30px;
    grid-gap: 3%;
    grid-template-columns: 20% 72%;
    grid-template-areas: 
    "for-top-auth-ava-pl for-top-auth-rate-name-pl";
}

.for-top-auth a{
    color: #0F4780;
    text-decoration: none;
}

.for-top-auth img{
    
    width: 3rem;
    height: 3rem;
    border-radius: 20px;
}

.for-top-auth .fa-user-circle-o{
    color: #0F4780;
    font-size: 2.5rem;
}

.vk-m{
    width: 90%;
}

.scr-cont{
    margin-top: 1rem;
    margin-left: 2%;
    width: 90%;
}

.zen-c-m img{
    width: 100%;
    height: 100%;
}

.zen-link-m{
    margin-left: 2%;
}

.rating{
    display: flex;
    flex-direction: column;   
}

.similar-art{
    display: flex;
    flex-direction: column;   
}

.post-place-grid{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.5rem;
    width: 100%;
    height: 10rem;
    color: white;
    text-shadow:-4px -4px 10px #000000,7px -3px 11px #000000,-4px 8px 12px #000000,10px 7px 10px #303632,-12px 4px 12px #1c1c1c;
    border-radius: 10px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;  
}

.post-place-grid:hover {
    cursor: pointer;
    /* width: 23.5%;
    height: 15.5rem; */
    box-shadow: 0 0 7px;
    border: 3px solid black;
}

.post-place-grid .post-top-1{
    margin: 10px;
    font-size: 1.3rem;
}

.post-place-grid .post-bottom-1{
    margin: 2rem auto auto 1rem;
    font-size: 1rem;
}
/***********************************/


/* main .rating-n{
    display: none;
}

main .rating-pr{
    display: none;
}

main .rating-art{
    display: none;
} */

main .main-post{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-around;
    
}

main .post-place-2{
    font-family: Arial, Helvetica, sans-serif;
    margin: 2% 17px;
    width: 45%;
    height: 20rem;
    color: white;
    text-shadow:-4px -4px 10px #000000,7px -3px 11px #000000,-4px 8px 12px #000000,10px 7px 10px #303632,-12px 4px 12px #1c1c1c;
    border-radius: 10px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;  
}

main .post-place-2:hover {
    cursor: pointer;
    background-size: 120% 120%;
    /* width: 23.5%;
    height: 15.5rem; */
    
}

.post-place-2 .post-top-1{
    margin: 10px;
}

.post-place-2 .post-bottom-1{
    margin-top: 26%;
    margin-left: 2%;
    font-size: 1.5rem;
}

.promotionblock .post-place-1:nth-child(1){ 
    width: 96%;
    height: 30rem;
}

main .post-place-video{
    font-family: Arial, Helvetica, sans-serif;
    margin: 1.5% 30px;
    width: 44%;
    height: 25rem;   
    border-radius: 10px;
    text-decoration: none;
}

.post-place-video .post-bottom-video{
    margin-left: 0.5rem;
    font-size: 1.5rem;
    color: white;
    text-shadow:-4px -4px 10px #000000,7px -3px 11px #000000,-4px 8px 12px #000000,10px 7px 10px #303632,-12px 4px 12px #1c1c1c;
}

.post-place-video .post-bottom-video-2{   
    color: gray;   
    font-weight: bold; 
}

.post-place-video .post-bottom-video-2 a{   
    color: gray;   
}

main .post-place-video video:hover {
    cursor: pointer;
    /* width: 23.5%;
    height: 15.5rem; */
    box-shadow: 0 0 7px;
    border: 3px solid black;
}

main .shop-comp{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-around;     
}

main .goods-place{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 1rem;  
    font-size: 1.5rem;   
}

main .goods-place a{
    color: #1e90ff;
    text-decoration: none; 
}


main .shop-comp img{
    width: 20rem;
    height: 20rem;
}

main .gallery-place{
    z-index: 5;
    margin-left: 12%;
    max-width: 75%;
}

main .day-reflection{
    font-family: Arial, Helvetica, sans-serif;
    margin: 1% 12px;
    height: 30rem;
    width: 100%;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 3px black;
    border-radius: 10px;
}

/* main .footer-prev{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 12%;
    width: 100%;
} */

/* main .for-top-auth{
    display: flex;
    width: 17rem;
    height: 4rem;
    margin-top: 2%;
    padding-top: 2%;
    padding-left: 2%;
    font-size: 1.2rem;
    border: 2px solid #1E90FF;
}

main .for-top-auth a{
    color: #1e90ff;
    text-decoration: none;
}

main .for-top-auth img{
    width: 3rem;
    height: 3rem;
} */

/* main .social-links{
    display: flex;
    flex-direction: column;
    margin-top: -1.5rem;
    margin-left: 2rem;
    width: 20rem;
    justify-content: center;
} */

/* main .zen-c-m img{
    width: 12rem;
    height: 12rem;
}

main .f-zen {
    margin-top: 1rem;
    margin-left: 15%;
}

main .f-zen img{
    width: 95%;
    height: 30%;
} */

/* main .vk-m{
    margin-top: 2rem;
}

main .scr-cont{
    margin-top: 1rem;
    margin-left: 1rem;
}

main .zen-link-m{
    margin-left: 2rem;
} */

/* main .about-proj{
    margin-left: 2rem;
} */

/* main .descr-txt-place{
    margin-left: 2%;
    width: 53%;
}

main .mp-description{
    font-size: 0.7rem;
} */

.about-project-pl{
    width: 100%;
}

.about-project-pl .main-headers{
    margin-left: 2%;
    margin-bottom: 1rem;
}

.about-project{
    font-size: 1.5rem;
    margin-left: 5%;
    max-width: 75%;
}

main .tags-place-m{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    flex-wrap: wrap;
    margin-top: 1rem;
    /* justify-content: space-around; */
}

main .tags-place-m a{
    margin-right: 1%;  
    background: #1e90ff; 
    color: #FFFFFF; 
    border-radius: 10px;
    cursor: pointer;
    padding: 0 5px 0 5px;
    text-decoration: none;
}

main .tags-place-m a:hover{
    background: #FFFFFF; 
    color: #1e90ff;
}

/*Стиль новостей и статей*/

article{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
}

article .article-head{
    /* height: 40%; */
    color: white;
    text-shadow:-4px -4px 10px #000000,7px -3px 11px #000000,-4px 8px 12px #000000,10px 7px 10px #303632,-12px 4px 12px #1c1c1c;
    background-repeat: no-repeat;
    background-size: cover;    
    border-radius: 10px;
    height: 30rem;
}

article .article-head-top{
    display: flex;
    margin-left: 2%;
    width: 100%;
}

article .article-info{
   width: 30%;
}

article .article-info a{
    text-decoration: none;
    color: white;
 }

article .article-rating{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    margin-top: 2%;
    height: 2rem;
    width: 20%; 
    font-size: 2rem;
}

/*Цвета иконок*/

.fa-eye{
    color:rgba(30, 144, 255, 1);
}

.fa-heartbeat{
    color: red;
}

.fa-check-square-o{
    color: yellow;
}

.fa-pencil-square-o{
    color: green;
    font-weight:bold
}

.fa-diamond{
    color: red;
    font-weight:bold
}

.fa-thumbs-up{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 3px black;
}

.fa-money{
    color: green;
}

.fa-user-circle{
    color: red;
}

.fa-copyright{
    color: gray;
}

article .article-rating i{
    margin-left: 10%;
}

/* article .article-rating img{
    margin: 1% 2% 2% 1%;
    padding-left: 3%;
    width: 35%;
    height: 35%;
    
} */

article h1{
    font-size: 2.5rem;
    color: #0F4780;   
}

article .article-head-bottom{
    color: #232323; 
    font-size: 1.5rem;  
}

article .article-head-bottom a{
    color: #232323;
    text-decoration: none;   
}

.pub-pl{
    display: flex;
    margin-top: 2%;
    margin-left: 7%;
}

article .a-content{
    font-size: 1.5rem;
    margin-left: 2%;
}

article .a-content img{
    width: 90%;
    height: auto;
}

article .a-video{
    margin-left: 10%;
}

article .a-line{
    border: 3px solid #1e90ff;
    width: 0;
    max-height:100%;
}

article .like-place{
    margin-top: 1%;
    font-size: 2rem;
    max-height: 25rem;
}

article .like-place .btn_vot{
    height: 40px;
    width: 60px;
    font-weight: bold;
    font-size: 2rem;
    background:#FFFFFF;
    color: #1e90ff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

article .like-place .btn_vot:hover{  
    background:#1e90ff;
    color:#FFFFFF;
}

article .like-place .fav-and-recomm{  
    display: flex;
}

article .tags-place{
    display: flex;
    padding-bottom: 1rem;
    font-size: 1rem;
}

article .tags-place .tgs{
    margin-left: 1%; 
    background: #1e90ff; 
    color: #FFFFFF; 
    border-radius: 5px;
    cursor: pointer;
}

article .tags-place .tgs:hover{
    background: #FFFFFF; 
    color: #1e90ff;
}

article .recomm-place{
    margin-left: 70%;
}

article .fav-and-recomm{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

article .btn_fav_1{
    background:#FFFFFF;
    color: #1e90ff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 6rem;
    height: 2rem;
}

article .btn_fav_2{
    background:red;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 6rem;
    height: 2rem;
}

article .btn_recomm{
    background:green;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 11rem;
    height: 2rem;
    margin-left: 1rem;
}

.comment{
    display: flex;
    margin-top: 1rem;
}

.comment-form{
    margin-top: 1rem;
    margin-left: 15%;
}

.fls-textarea{
    margin-top: 1rem;
    margin-left: 15%;
    width: 90%;
}

.comment-textarea{
    width: 90%;
}

.comment-text{
    margin-left: 3%;
    width: 90%;
}

.comment-text img{
   width: 90%;
    height: auto;
}

.comment-person-pl {
    display: flex;
}

.comment-person-pl img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
}

.comment-person-pl a{
    text-decoration: none;
    color: #0F4780;
    font-size: 1rem;
}

.comment-person-pl .fa-user-circle-o{
    color: #0F4780;
    font-size: 2rem;
}

.comment-person-pl .comment-date{
    color: rgba(35, 35, 35, 0.7);
    font-size: 0.7rem;
}

.comment-person-pl .comment-person-name{
    margin-left: 5%;
}

.comment-bottom{
    display: flex;
    flex-direction: row;
}

.comment-like{
    margin-left: 2%;
    font-weight: bold;
}

.comment-like-btn{
    color: #1e90ff;
    border: none;
    background: none;
}

.comment-like-btn:hover{
    cursor: pointer;
}

.comment-ans{
    margin-left: 75%;
    font-weight: bold;
}

.comment-auth{
    margin-top: 0.5rem;
    margin-left: 10%;
    color: #0F4780;
}

.comment-auth a{
    color: #0F4780;
}

.comment-line{
    margin-top: 1rem;
    width: 79%;
    margin-left: 16%;
    height: 0;
    border: 1px solid rgba(30, 144, 255, 1);
    
    /* margin-left: auto; */
    
}

.one-comment-bottom{
    display: flex;
    flex-direction: row;
}

.one-comment-like{
    margin-left: 76.5%;
    font-weight: bold;
}

.all-sub-comments{
    margin-left: 20%;
}

.sub-comment{
    margin-top: 1rem;
}

.sub-comment-info{
    border: 1px solid rgba(30, 144, 255, 1);
    padding: 0.3%;
    border-radius: 5px;
}

.sub-comment-open{
    margin-top: 0.2%;
    margin-left: 33%;
}

.sub-comment-open a{
    color: #1E90FF;
}

article .zen-ch a{
    text-decoration: none;
}

article .zen-ch img{
    width: 3%;
    height: 3%;
}

article .zen-ch .zen-ch-title{
    font-size: 1.5rem;
    vertical-align: 45%; 
}

/*Аккаунт*/
.acc-header{
    color: #0F4780;
}

.acc-header a{
    color: #0F4780;
    text-decoration: none;
}

main .acc-m{
    display: flex;
    margin-top: 1rem;
}

main .ava-pl{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    margin-left: 1.5%;
}

main .ava-pl img{
    height: 40%;
    width: 40%;
    border-radius: 10px;
    
}

.ava-pl .fa-user-circle{
    font-size: 15rem;
    cursor: pointer;
    color: #0F4780;
}

main .ava-pl button{
    margin-top: 0.5rem;
    width: 40%;
}

main .acc-info-pl{
    height: 50%;
    width: 80%;
    margin-left: -27%;
    margin-top: -1.5%;
    font-size: 1.5rem;
}

.set-acc-ava-pl h4{
    margin-left: 5%;
}

.set-acc-ava-pl img{
    width: 15rem;
    height: 15rem;
}

.set-acc-ava-pl .fa-user-circle{
    font-size: 15rem;
    cursor: pointer;
    color: #0F4780;
}

.acc-menu a{
    text-decoration: none;
    color: #0F4780;
    margin-left: 2%;
}

.acc-info-pl .main-headers{
    max-width: 100%;
    height: 5rem;
    
    margin-left: 2%;
    margin-bottom: 1rem;
    display: flex;
}

.counts{
    display: flex;
    margin-top: 1rem;
    margin-left: 40%;
}

/*Галерея*/
.wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0; top: 0; right: 0; bottom: 0;
    backdrop-filter: blur(8px);
    
  }

.one-pic img{
    position: absolute;
    display: block; 
    border: 1px solid #aaa;
    border-radius: 10px;
    opacity: 100;
    z-index: 100;      
    width: 85%;
    height: 85%;
    left: 5%;
    top: 10%;
}

.close-pic{
    margin-left: 93%;
    margin-top: 2%;
}

.pic-for-gallery{
    cursor: pointer;
}

/*Стили раздела видео*/
.video-header{
    margin-left: 20%;
}

.article-info-video{
    margin-left: 10%;
}

.video-pl{
    margin-left: 20%;
    max-width: 80%;
    background: #ffff;
}

.video-pl video{
    border-radius: 10px;
}

.like-place-video{
    margin-top: 1%;
    max-height: 25rem;
    background: #ffff;
}

.like-place-video .btn_vot{
    /* height: 40px;
    width: 60px;
    font-weight: bold;
    font-size: 2rem; */
    background:#FFFFFF;
    color: #1e90ff;
    cursor: pointer;
    border: 0.5px solid rgba(30, 144, 255, 1);
    border-radius: 5px;
}

.like-place-video .btn_vot:hover{  
    background:#1e90ff;
    color:#FFFFFF;
}

/* .like-place-video .btn_vot{

} */

/*Стили блога*/

.blog-header-pl{
    /* height: 40%; */
    /* color: white; */
    text-shadow:-4px -4px 10px #000000,7px -3px 11px #000000,-4px 8px 12px #000000,10px 7px 10px #303632,-12px 4px 12px #1c1c1c;
    background-repeat: no-repeat;
    background-size: cover;    
    /* border-radius: 10px; */
    height: 15rem;
    width: 100%;
}

.blog-login-logout-btn-pl{
    margin-left: 3%;
    color: #0F4780;
}

.blog-login-logout-btn-pl a{
    color: #0F4780;
    text-decoration: none;
}

.blog-login-logout-btn-pl-2 a{
    margin-left: 85%;
    color: #0F4780;
    text-decoration: none;
    font-size: 1.5rem;
    margin-top: 5%;
}

.blog-m{
    display: flex;
    margin-top: 1rem;
}

.blog-ava-pl{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    margin-left: 1.5%;
}

.blog-ava-pl img{
    height: 40%;
    width: 40%;
    border-radius: 10px;
    
}

.blog-ava-pl .fa-user-circle{
    font-size: 15rem;
    cursor: pointer;
    color: #0F4780;
}

.blog-ava-pl button{
    margin-top: 0.5rem;
    width: 40%;
}

.blog-info-pl{
    height: 50%;
    width: 80%;
    margin-left: -27%;
    margin-top: -1.5%;
    font-size: 1.5rem;
}